name: Backend CI/CD

on:
  push:
    branches:
      - main
      - seeder
  pull_request:
    branches:
      - main
    paths: ["backend-disc/**"]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_NAME: ${{ secrets.DB_NAME }}
      API_SECRET_KEY: ${{ secrets.API_SECRET_KEY }}

    steps:
      - uses: actions/checkout@v4

      - name: Start SQL Server
        shell: bash
        run: |
          docker run \
            -e ACCEPT_EULA=Y \
            -e SA_PASSWORD="$DB_PASSWORD" \
            -p 1433:1433 \
            --name disc-mssql \
            -d mcr.microsoft.com/mssql/server:2022-latest

          echo "Waiting for SQL Server..."
          for i in {1..60}; do
            if docker logs disc-mssql 2>&1 | grep -q "SQL Server is now ready"; then
              echo "SQL Server ready!"
              break
            fi
            sleep 2
          done

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        working-directory: backend-disc
        run: dotnet restore

      - name: Build API
        working-directory: backend-disc
        run: dotnet build --no-restore --configuration Release

      - name: Start API
        working-directory: backend-disc
        env:
          ConnectionStrings__DefaultConnection: "Server=localhost,1433;Database=${{ secrets.DB_NAME }};User Id=sa;Password=${{ secrets.DB_PASSWORD }};TrustServerCertificate=True;"
          API_SECRET_KEY: ${{ secrets.API_SECRET_KEY }}
          ASPNETCORE_URLS: http://0.0.0.0:5000
          ASPNETCORE_ENVIRONMENT: Development
        run: |
          dotnet run --project backend-disc/backend-disc.csproj --configuration Release --urls "http://0.0.0.0:5000" &
          echo $! > api.pid
          echo "Backend started with PID: $(cat api.pid)"
          sleep 5

      - name: run seeder
        working-directory: backend-disc/seeder
        env:
          DB_HOST: "localhost"
          DB_PORT: "1433"
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: "sa"
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: |
          echo "Running seeder..."
          dotnet run --configuration Release
          echo "Seeder completed!"

      - name: Install Newman
        run: npm install -g newman

      - name: Run Postman tests
        working-directory: backend-disc
        run: |
          newman run Disc-api-test.postman_collection.json \
            --environment postman-env.json \
            --reporters cli,json \
            --reporter-json-export test-results.json
